// System colors
// Background colors
$dark-blue: #212C4F;
$super-dark-blue:#1b233f;
$light-gray: #F0F3F5;
$dark-gray:#283049;
// Text colors
$dark-green:#205284;
$ligth-blue:#C6D0EB;
$black:#000000;
$white:#FFFFFF;
// Button colors
$purple:#7B42F6;
$violet:#B01EFF;
$pink:#E1467C;
$blue:#3672F8;
$teal:#56CCF2;
$green:#A6E1D5;